<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections></configSections>
  <connectionStrings>
    <add name="WeatherLoggerLib.Properties.Settings.DBConnectionString" connectionString="Data Source=|DataDirectory|\DB.sdf" providerName="Microsoft.SqlServerCe.Client.3.5" />
    <add name="DBEntities" connectionString="metadata=res://*/Logger.csdl|res://*/Logger.ssdl|res://*/Logger.msl;provider=System.Data.SqlServerCe.3.5;provider connection string=&quot;Data Source=|DataDirectory|\DB.sdf&quot;" providerName="System.Data.EntityClient" />
    <add name="DatabaseEntities" connectionString="metadata=res://*/WeatherData.csdl|res://*/WeatherData.ssdl|res://*/WeatherData.msl;provider=System.Data.SqlServerCe.3.5;provider connection string=&quot;Data Source=|DataDirectory|\Database.sdf&quot;" providerName="System.Data.EntityClient" />
    <add name="DatabaseEntities1" connectionString="metadata=res://*/Weather.csdl|res://*/Weather.ssdl|res://*/Weather.msl;provider=System.Data.SqlServerCe.3.5;provider connection string=&quot;Data Source=|DataDirectory|\Database.sdf&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>